/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: darkorange;
}

body {
    height: 100%;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.header-content {
    align-self: flex-end;
    text-align: center;
    padding: 1% 0;
    opacity: 0.9;
    text-shadow: 0.05em 0.05em black
}

.home-container {
    width: 100%;
    height: 46%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-top: 2%;
}

.about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: rgba(41, 19, 100, 0.7);
}

#profile-pic {
    height: 70%;
    width: auto;
    align-self: center;
    border-radius: 7px;
}

.about-content {
    align-self: center;
    color: white;
    padding: 0 2%;
    height: 70%;
    width: 40%;
    line-height: 2em;
    overflow-y: scroll;
}

.projects-container {
    width: 100%;
    height: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    background-color: rgba(255, 85, 85, 0.7);
}

.project-slide {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    white-space: normal;
    align-items: center;
    /*background-color:  rgb(126, 0, 64);*/
}

.project-pic {
    display: block;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.project-title {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 2% 0 2% 0;
}

.project-description {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: rgb(126, 0, 64);
    padding: 0 0 2% 0;
}

.contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 2% 0;
    background-color: rgba(202, 99, 15, 0.7);
}

.contact-link {
    display: block;
    padding: 0 0.5%;
    width: 80px;
    height: 80px;
}

.contact-link:hover {
    opacity: 0.8;
}

.contact-logo {
    align-self: flex-start;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1% 0;
    text-align: center;
}

ul {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li a {
    display: block;
    text-decoration: none;
    background-color: rgba(9, 38, 68, 0.7);
    color: white;
    padding: 10% 0;
}

li a:hover {
    color:lightsteelblue;
}

li {
    font-family: "PT Sans", Calibri;
    font-size: 20px;
    text-align: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s ease-in 1 forwards;
}

h1, h2, h3 {
    font-family: "PT Sans", "Montserrat", "Century Gothic";
}

h1 {
    font-size: 115px;
}

h3 {
    font-size: 30px;
}

p {
    font-family: "Lato", Calibri;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }

    #profile-pic {
        height:50%;
        width:auto;
        margin: 2% 2% 2% 2%;
    }

    .about-content {
        margin: 2% 2% 2% 2%;
        line-height: normal;
        width:auto;
    }

    .project-slide {
        width: 100%;
    }
    .contact-link {
        width: 40px;
        height: 40px;
    }
    .contact-logo {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }
}