/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h2, h3 {
    font-family: "Satisfy", "Bradley Hand ITC", Calibri;
}

h1 {
    font-family: "Roboto", "Century Gothic", Calibri;
    font-size: 72px;
}

h2 {
    font-size:40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-family: "Lato", "Calibri Light", Calibri;
    font-size: 20px;
}

p {
    font-family: "Lato", "Calibri Light", Calibri;
    font-size: 16px;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../images/whirlpool.png");
}

.slide {
    position: relative;
    float: right;
    width: 90%;
    height: 100%;
    z-index: 1;
}

.header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.header-content {
    align-self: flex-end;
    text-align: center;
    padding: 1% 0;
    opacity: 0.9;
    color: cadetblue;
    /*text-shadow: 0.05em 0.05em black*/
}

.home-container {
    width: 100%;
    height: 43.1%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-top: 2%;
}

.container_footer {
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7) 30%);
    height: 4%;
    width: 100%;
}

.about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 47%;
    background-color: rgba(0, 0, 0, 0.7);
}

#profile-pic {
    height: 70%;
    width: auto;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border-radius: 7px;*/
}

.about-content {
    align-self: center;
    color: dimgray;
    padding: 0 2%;
    height: 70%;
    width: 40%;
    /*background-image: url("../images/whirlpool.png");*/
    background-color: white;
    line-height: 2em;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 47%;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    /*padding-right: 6%;*/
}

.project-slide {
    display: inline-block;
    /**display: inline;*/
    /**zoom: 1;*/
    float:right;
    align-self: center;
    min-width: 30.33%;
    margin: 0 0% 0 3%;
    /*height: 71%;*/
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*background-color:  rgb(126, 0, 64);*/
}

.project-pic {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.project-info {
    display: block;
    height: 41.3%;
    margin: 0 auto;
    background-color: white;
}

.project-title {
    text-align: center;
    background-color: white;
    color: dimgray;
    padding: 2% 0 2% 0;
}

.project-description {
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 2% 0 2% 0;
}

.contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 47%;
    padding: 2% 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-link {
    display: block;
    padding: 0 0.5%;
    width: 40px;
    height: 40px;
}

.contact-link:hover {
    opacity: 0.8;
}

.contact-logo {
    align-self: flex-start;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1% 0;
    text-align: center;
}

ul {
    float: left;
    width: 10%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(119, 136, 153, 0.8);
}

a {
    text-decoration: none;
    color: white;
}

li a {
    display: block;
    /*text-decoration: none;*/
    /*color: white;*/
    padding: 10% 0;
}

a:hover {
    color:lightgray;
}

li {
    font-family: "Roboto", "Calibri Light", Calibri;
    font-size: 16px;
    text-align: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s ease-in 1 forwards;
}

@media screen and (max-width: 600px) {
    ul {
        width: 20%;
    }

    .slide {
        width: 80%;
    }


    .about-container {
        flex-direction: column;
    }

    #profile-pic {
        height: 50%;
        width: auto;
        margin: 2% 2% 2% 2%;
    }

    .about-content {
        margin: 2% 2% 2% 2%;
        line-height: normal;
        width:auto;
    }

    .project-slide {
        max-height: 100%;
        min-width: 50%;
    }

    .contact-link {
        width: 40px;
        height: 40px;
    }

    .contact-logo {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }
}